@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

// Custom SCSS
body {
  @apply bg-gray-50 text-gray-900 font-sans;
}

.btn-primary {
  @apply bg-primary hover:bg-primary/90 text-white font-medium rounded-lg transition-colors duration-300;
}

.btn-secondary {
  @apply bg-gray-200 dark:bg-gray-600 hover:bg-gray-300 dark:hover:bg-gray-700 text-gray-900 dark:text-white font-medium rounded-lg transition-colors duration-300 py-2 px-4 shadow-md hover:shadow-lg;
}

.nav-link {
  @apply text-gray-700 hover:text-primary transition-colors duration-300;
}

.input-field {
  @apply w-full px-4 py-2 border border-gray-300 dark:border-gray-600 rounded-md focus:ring-primary focus:border-primary dark:bg-gray-700 dark:text-white transition-colors;
}

.radio-input {
  @apply h-5 w-5 text-primary focus:ring-primary border-gray-300 dark:border-gray-600;
}

.checkbox-input {
  @apply h-4 w-4 text-primary focus:ring-primary border-gray-300 dark:border-gray-600 rounded;
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.3s;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}

// Custom animations
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.btn-primary:disabled {
  color: #cbcfd7;
  background-color: #f0f1f4;
  // cursor: not-allowed; /* Optional: to indicate the button is not clickable */
}